<div class="col-sm-12">
    <div class="jumbotron">
        <h1>¡Bienvenidos!</h1>
        <h2>Sistema de catálogo de pastelerias</h2>
        <p>Selecciona una pasteleria para ver los pasteles que prepara</p>
        <br>
        <p>Para agregar una nueva pasteleria o pastel dirigirse a la barra de navegación</p>
    </div>
</div>